C 0 0 "CPL" 0 0 0 0 60 0 L
X "PIN_TEXT" "CPL" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "CPH" 0 -100 0 0 60 0 L
X "PIN_TEXT" "CPH" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "VM" 0 -200 0 0 60 0 L
X "PIN_TEXT" "VM" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "VDRAIN" 0 -300 0 0 60 0 L
X "PIN_TEXT" "VDRAIN" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "VCP" 0 -400 0 0 60 0 L
X "PIN_TEXT" "VCP" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "GHA" 0 -500 0 0 60 0 L
X "PIN_TEXT" "GHA" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "SHA" 0 -600 0 0 60 0 L
X "PIN_TEXT" "SHA" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "GLA" 0 -700 0 0 60 0 L
X "PIN_TEXT" "GLA" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "SPA" 0 -800 0 0 60 0 L
X "PIN_TEXT" "SPA" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "SNA" 0 -900 0 0 60 0 L
X "PIN_TEXT" "SNA" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 300 -1500 "SNB" 300 -1500 0 0 60 0 L
X "PIN_TEXT" "SNB" 330 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 300 -1300 300 -1500 -1 0
C 400 -1500 "SPB" 400 -1500 0 0 60 0 L
X "PIN_TEXT" "SPB" 430 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1300 400 -1500 -1 0
C 500 -1500 "GLB" 500 -1500 0 0 60 0 L
X "PIN_TEXT" "GLB" 530 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1300 500 -1500 -1 0
C 600 -1500 "SHB" 600 -1500 0 0 60 0 L
X "PIN_TEXT" "SHB" 630 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1300 600 -1500 -1 0
C 700 -1500 "GHB" 700 -1500 0 0 60 0 L
X "PIN_TEXT" "GHB" 730 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1300 700 -1500 -1 0
C 800 -1500 "GHC" 800 -1500 0 0 60 0 L
X "PIN_TEXT" "GHC" 830 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1300 800 -1500 -1 0
C 900 -1500 "SHC" 900 -1500 0 0 60 0 L
X "PIN_TEXT" "SHC" 930 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -1300 900 -1500 -1 0
C 1000 -1500 "GLC" 1000 -1500 0 0 60 0 L
X "PIN_TEXT" "GLC" 1030 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -1300 1000 -1500 -1 0
C 1100 -1500 "SPC" 1100 -1500 0 0 60 0 L
X "PIN_TEXT" "SPC" 1130 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 1100 -1300 1100 -1500 -1 0
C 1200 -1500 "SNC" 1200 -1500 0 0 60 0 L
X "PIN_TEXT" "SNC" 1230 -1270 90 0.00 60 0 0 0 0 0 1 0 74
L 1200 -1300 1200 -1500 -1 0
C 1600 0 "NSCS" 1600 0 0 0 60 0 R
X "PIN_TEXT" "NSCS" 1370 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 0 1600 0 -1 0
C 1600 -100 "SCLK" 1600 -100 0 0 60 0 R
X "PIN_TEXT" "SCLK" 1370 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -100 1600 -100 -1 0
C 1600 -200 "SDI" 1600 -200 0 0 60 0 R
X "PIN_TEXT" "SDI" 1370 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -200 1600 -200 -1 0
C 1600 -300 "SDO" 1600 -300 0 0 60 0 R
X "PIN_TEXT" "SDO" 1370 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -300 1600 -300 -1 0
C 1600 -400 "NFAULT" 1600 -400 0 0 60 0 R
X "PIN_TEXT" "NFAULT" 1370 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -400 1600 -400 -1 0
C 1600 -500 "AGND" 1600 -500 0 0 60 0 R
X "PIN_TEXT" "AGND" 1370 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -500 1600 -500 -1 0
C 1600 -600 "VREF" 1600 -600 0 0 60 0 R
X "PIN_TEXT" "VREF" 1370 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -600 1600 -600 -1 0
C 1600 -700 "SOA" 1600 -700 0 0 60 0 R
X "PIN_TEXT" "SOA" 1370 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -700 1600 -700 -1 0
C 1600 -800 "SOB" 1600 -800 0 0 60 0 R
X "PIN_TEXT" "SOB" 1370 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -800 1600 -800 -1 0
C 1600 -900 "SOC" 1600 -900 0 0 60 0 R
X "PIN_TEXT" "SOC" 1370 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -900 1600 -900 -1 0
C 300 700 "GND_2" 300 700 0 0 60 0 R
X "PIN_TEXT" "GND_2" 330 470 90 0.00 60 0 0 2 0 0 1 0 74
L 300 500 300 700 -1 0
C 400 700 "VGLS" 400 700 0 0 60 0 R
X "PIN_TEXT" "VGLS" 430 470 90 0.00 60 0 0 2 0 0 1 0 74
L 400 500 400 700 -1 0
C 500 700 "GND_1" 500 700 0 0 60 0 R
X "PIN_TEXT" "GND_1" 530 470 90 0.00 60 0 0 2 0 0 1 0 74
L 500 500 500 700 -1 0
C 600 700 "DVDD" 600 700 0 0 60 0 R
X "PIN_TEXT" "DVDD" 630 470 90 0.00 60 0 0 2 0 0 1 0 74
L 600 500 600 700 -1 0
C 700 700 "INLC" 700 700 0 0 60 0 R
X "PIN_TEXT" "INLC" 730 470 90 0.00 60 0 0 2 0 0 1 0 74
L 700 500 700 700 -1 0
C 800 700 "INHC" 800 700 0 0 60 0 R
X "PIN_TEXT" "INHC" 830 470 90 0.00 60 0 0 2 0 0 1 0 74
L 800 500 800 700 -1 0
C 900 700 "INLB" 900 700 0 0 60 0 R
X "PIN_TEXT" "INLB" 930 470 90 0.00 60 0 0 2 0 0 1 0 74
L 900 500 900 700 -1 0
C 1000 700 "INHB" 1000 700 0 0 60 0 R
X "PIN_TEXT" "INHB" 1030 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 500 1000 700 -1 0
C 1100 700 "INLA" 1100 700 0 0 60 0 R
X "PIN_TEXT" "INLA" 1130 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 500 1100 700 -1 0
C 1200 700 "INHA" 1200 700 0 0 60 0 R
X "PIN_TEXT" "INHA" 1230 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1200 500 1200 700 -1 0
C 1300 700 "ENABLE" 1300 700 0 0 60 0 R
X "PIN_TEXT" "ENABLE" 1330 470 90 0.00 60 0 0 2 0 0 1 0 74
L 1300 500 1300 700 -1 0
L 200 500 1400 500 -1 0
L 1400 -1300 1400 500 -1 0
L 1400 -1300 200 -1300 -1 0
L 200 500 200 -1300 -1 0
P "$LOCATION" "?" 1450 670 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

